# See https://help.github.com/ignore-files/ for more about ignoring files.

# dependencies
/Admin/node_modules

# testing
/Admin/coverage

# production
/dist
/Backend-backup
# misc
/Admin/.DS_Store
/Admin/.env.local
/Admin/.env.development.local
/Admin/.env.test.local
.env.production.local

/Admin/npm-debug.log*
/Admin/yarn-debug.log*
/Admin/yarn-error.log*

#User
/User/node_modules

# testing
/User/coverage

# production
/dist

# misc
/User/.DS_Store
/User/.env.local
/User/.env.development.local
/User/.env.test.local
.env.production.local

/User/npm-debug.log*
/User/yarn-debug.log*
/User/yarn-error.log*

#backend
/Backend/node_modules
/Backend/public/hot
/Backend/public/storage
/Backend/storage/*.key
/Backend/vendor
/Backend/.env
/Backend/.env.backup
/Backend/.phpunit.result.cache
/Backend/docker-compose.override.yml
/Backend/Homestead.json
/Backend/Homestead.yaml
/Backend/npm-debug.log
/Backend/yarn-error.log
/Backend/.idea
/Backend/.vscode
/Backend/vendor1